@model MySQLTestApp.Models.Status

@{
    ViewBag.Title = "Computer Status";
}

<h2>@ViewBag.Title</h2>

<hr />
<h3>Memory</h3>
<canvas id="memoryChart" width="200" height="200"></canvas>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ComputerName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ComputerName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LocalTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LocalTime)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Processes)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Processes)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.MemoryTotal)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MemoryTotalMB) MB
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CPUThreasCount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CPUThreasCount)
    </dd>

</dl>


@section Scripts{
    <script type="text/javascript">
    $(function () {
        var data = [
    {
        value: @((Model.MemoryTotal - Model.MemoryFree)/1024/1024),
        color: "#F7464A",
        highlight: "#FF5A5E",
        label: "Used"
    },
    {
        value: @(Model.MemoryFree / 1024 /1024),
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Free"
    }
        ];
        var ctx = document.getElementById("memoryChart").getContext("2d");
        var myDoughnutChart = new Chart(ctx).Doughnut(data, { animateScale: true });

    });



</script>
    
    
    
    }